body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background-color: rgb(40,30,33);
    color: #2e3636;
    overflow: hidden;
    font-size: .5em;
}

.gene {
    background: rgba(255,255,255,0.11);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(0%, rgba(255,255,255,0.11)), color-stop(60%, rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: radial-gradient(ellipse at center, rgba(255,230,180,0.11) 0%, rgba(255,0,0,0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

    position: absolute;
    width: 400px;
    height: 400px;
    -webkit-transition: all 4000ms linear;
    transition: all 4000ms linear;
}

.gene-line {
    position: absolute;
    text-align: center;
    top: 50%;
}
