body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;

    background: rgba(26,20,2,1);
    background: -moz-linear-gradient(left, rgba(26,20,2,1) 0%, rgba(2,54,50,1) 21%, rgba(3,11,64,1) 51%, rgba(7,31,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,20,2,1)), color-stop(21%, rgba(2,54,50,1)), color-stop(51%, rgba(3,11,64,1)), color-stop(100%, rgba(7,31,66,1)));
    background: -webkit-linear-gradient(left, rgba(26,20,2,1) 0%, rgba(2,54,50,1) 21%, rgba(3,11,64,1) 51%, rgba(7,31,66,1) 100%);
    background: -o-linear-gradient(left, rgba(26,20,2,1) 0%, rgba(2,54,50,1) 21%, rgba(3,11,64,1) 51%, rgba(7,31,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,20,2,1) 0%, rgba(2,54,50,1) 21%, rgba(3,11,64,1) 51%, rgba(7,31,66,1) 100%);
    background: linear-gradient(to right, rgba(0,20,2,1) 0%, rgba(20,3,20,1) 21%, rgba(3,1,24,1) 51%, rgba(7,0,30,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1402', endColorstr='#071f42', GradientType=1 );

    color: #0a0f0f;
    overflow: hidden;
    font-size: .5em;
}

.gene {
    background: rgba(255,255,255,0.11);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(0%, rgba(255,255,255,0.11)), color-stop(60%, rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 60%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 250, .3) 0%, rgba(255, 255, 255, 0) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

    position: absolute;
    width: 20px;
    height: 10px;
    -webkit-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.gene-line {
    position: absolute;
    text-align: center;
    top: 50%;
}
